.recommended{
  color: #ffffff;
  background-color: #4d4dff;
}
.oscategory{
  color: #000000;
  background-color: #3399ff;
}
.switchmode{
  color: #ffffff;
  background-color: #800000;
}

.very-unbalanced{
  color: #ff0000;
  background-color: #e60000;
}

.unbalanced{
  color: #ff80b3;
  background-color: #ffb3b3;
}
